<section id="{{ include.section.section_id }}" class="block contact-block outer">
  <div class="inner">
    <div class="block-inside">
      <div class="block-header">
        <h2 class="block-title line-top">Контакт</h2>
        <p class="block-subtitle">
          Свяжитесь с нами
        </p>
      </div><!-- .block-header -->
      <div class="block-content">
         <h4>+998 (90) 950-78-16 — Руслан Толгатович</h4>
      </div><!-- .block-content -->
    </div><!-- .block-inside -->
  </div><!-- .inner -->
</section><!-- .block -->
