<section id="hero" class="block hero-block outer">
  <div class="inner-small">
    <div class="block-header">
      <h2 class="block-title">{{ page.hero_title }}</h2>
    </div><!-- .block-header -->
    <div class="block-content">
      <div class="block-copy">
        <div class="image-photo">
          <img src="/images/photo.jpg" alt="">
        </div>
        {{ page.hero_content | markdownify }}
      </div>
    </div><!-- .block-content -->
    <div class="block-buttons inner-sm">
      <a class="button" href="#contact">Заказать услугу</a>
      <a href="tel:+998909507816" style="margin-left: 1em; border: none">+998 (90) 950-78-16</a>
    </div>
  </div><!-- .inner -->
</section><!-- .block -->
