<section id="hero" class="block hero-block outer">
  <div class="inner-small">
    <div class="block-header">
      <h2 class="block-title">{{ page.hero_title }}</h2>
    </div><!-- .block-header -->
    <div class="block-content">
      <div class="block-copy">
        {{ page.hero_content | markdownify }}
      </div>
    </div><!-- .block-content -->
    <div class="block-buttons inner-sm">
      <a class="button" href="#contact">Заказать услугу</a>
    </div>
  </div><!-- .inner -->
</section><!-- .block -->
