<section id="portfolio" class="portfolio-block block outer">
  <div class="inner">

    {% if page.portfolio_title %}
      <div class="block-header">
        <h2 class="block-title line-top">{{ page.portfolio_title }}</h2>
        {% if page.portfolio_subtitle %}
          <p class="block-subtitle">
            {{ page.portfolio_subtitle }}
          </p>
        {% endif %}
      </div><!-- .block-header -->
    {% endif %}

    <div class="block-content">
      <div class="portfolio-feed layout-tiles">

        <article class="post project">
          <a href="#" class="post-link">
            <div class="post-thumbnail">
              <img class="thumbnail" src="/images/services_2.jpg" alt="" />
            </div>
            <header class="post-header">
              <h3 class="post-title"></h3>
            </header>
          </a><!-- .post-link -->
        </article><!-- .post -->

        <article class="post project">
          <a href="#" class="post-link">
            <div class="post-thumbnail">
              <img class="thumbnail" src="/images/services_1.jpg" alt="" />
            </div>
            <header class="post-header">
              <h3 class="post-title"></h3>
            </header>
          </a><!-- .post-link -->
        </article><!-- .post -->

      </div><!-- .portfolio-feed -->
    </div><!-- .block-content -->
  </div><!-- .inner -->
</section><!-- .block -->
