<section id="{{ include.block_id }}" class="block services-block outer">
  <div class="inner">
    <div class="block-inside">

      {% if include.title %}
        <div class="block-header">
          <h2 class="block-title line-top">{{ include.title }}</h2>
          {% if include.subtitle %}
            <p class="block-subtitle">
              {{ include.subtitle }}
            </p>
          {% endif %}
        </div><!-- .block-header -->
      {% endif %}

      <div class="block-content">
        <div class="services-list">
          {% for service in include.services %}
          <div class="service">
            <span class="service-counter" aria-hidden="true">{{ forloop.index }}.</span>
            <h3 class="service-title">{{ service.title }}</h3>
            <div class="service-text">
              {{ service.content | markdownify }}
            </div>
          </div><!-- .service -->
          {% endfor %}
        </div><!-- .services-list -->

        {% if include.image %}
          <img src="{{ include.image }}" alt="">
        {% endif%}

        {% if include.text %}
          {{ include.text|markdownify }}
        {% endif%}

      </div><!-- .block-content -->

    </div><!-- .block-inside -->
  </div><!-- .inner -->
</section><!-- .block -->
