---
layout: body
---

{% include hero_block.html page=page site=site %}

{% include services_block.html
        block_id="services"
        services=page.services_list
        title=page.services_title
        subtitle=page.services_subtitle
        image=page.hero_image
%}


{% include portfolio_block.html page=page site=site %}

{% include services_block.html
        block_id="profs"
        services=page.profs_list
        title=page.profs_title
        subtitle=page.profs_subtitle
        text=page.guarantie
%}

<section id="{{ include.section.section_id }}" class="block text-block outer">
        <div class="inner">
                <div class="block-header">
                        <h2 class="block-title">Как мы работаем</h2>
                </div><!-- .block-header -->
                <div class="block-content">
                        <div class="block-copy">
                                <img src="/images/mindmap.jpg" style="max-width: 95%" alt="">
                        </div>
        </div><!-- .inner -->
</section><!-- .block -->


{% include contact_block.html page=page site=site %}
